td {
  transition: all 0.5s;
}
td:hover {
  background: #376638;
  color: white;
}
table {
  transition: all 0.5s;
}
table:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
tr {
  transition: transform 1s;
}

tr:hover {
  transform: translate(10px, 0px);
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

img:hover {
  transform-origin: top center;
  animation-name: swing;
  animation: swing 10s;
}
